<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Event Owner Notification</title>

</head>
<body style="flex-direction: column">
	<div id="tittle" style="height: 10%; background-color: darkgreen">
		<h1 style="color: white; text-align: center; padding-top: 1%;">
			Lets Meet Event Notification 
		</h1>
	</div>
	<div id="text" style="padding-top: 3%; color: black; font-size: 2em; padding-left: 100px">
		<p style=""> Hi </p>
		<p> I'm here just to let you know that <%= guestName %>, <br> accept you invitation to <a href="<%= url%>"><%= eventName %></a> </p>
	</div>
	<div id="footer" style="padding-top: 3%; color: black; font-size: 2em; padding-left: 100px"> Best, <br> Lets Meet team. </div>
</body>

</html>
