.toolBar {
  height: 40px !important;
  background-color: #006400 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0 4% 0 0 !important;
  border: 0px;
}

.leftToolbarGroup {
  margin: 0 !important;
  width: 370px !important;
  justify-content: left !important;
  align-items: center !important;
}

  .leftToolbarGroup  .logoButton {
    font-size: 22px !important;
    color: #ffffff !important;
    font-weight: 400;
    margin-right: 10px !important;

  }


.rightToolbarGroup {
  margin: 0 !important;
}

  .rightToolbarGroup .donateButton {
    font-size: 21px !important;
    color: #ffffff !important;
    font-weight: 400;
  }
  .rightToolbarGroup .DashButton {
    font-size: 16px !important;
    margin: 0 15px 0 0 !important;
    border: 0px  !important;
    color: #ffffff !important;
  }

  .rightToolbarGroup .DashButton :hover {
    color: #006400 !important;
    background-color: #ffffff !important;
  }

  .rightToolbarGroup .AvatarMenu {
    margin: 0 !important;
  }

  .rightToolbarGroup .AvatarMenu .Toggle {
    margin: 5px 0px 5px 0px !important;
    height: 30px !important;
    line-height: 30px !important;
  }

  .rightToolbarGroup  .AvatarMenu .Divider {
    margin-top: 15px !important;
    margin-bottom: 18px !important;
  }

  .rightToolbarGroup  .AvatarMenu .LogoutButton {
    font-size: 18px !important;
  }

  .rightToolbarGroup .AvatarMenu .AboutButton {
    font-size: 18px !important;
  }

  .rightToolbarGroup .loginButton {
    color: #ffffff !important;
    background-color: #006400 !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 87px !important;
    border: 0px !important;
  }

  .rightToolbarGroup  .loginButton :hover {
    color: #006400 !important;
    background-color: #ffffff !important;
  }

@media (min-width:550px) and (max-width:850px) {
  .logoButton {
    font-size: 20px !important;
  }
}

@media (max-width:550px) {
  .toolBar {
    padding: 0px !important;
  }
    .rightToolbarGroup {
      margin: 0px 10px 0px 0px !important;
    }

      .rightToolbarGroup .IconMenu {
        margin-right: 20px !important;
      }

    .leftToolbarGroup {
      padding-left: 0px !important;
      margin: 0px !important;
    }
      .leftToolbarGroup .logoButton {
        font-size: 14px !important;
      }
      .leftToolbarGroup .donateButton {
        font-size: 14px !important;
      }
  
}
