.cell {
  border: 1px solid #efefef;
  cursor: pointer;
  width: 13px;
  box-sizing: border-box;
}

.cellHighlighted {
  background-color: gray !important;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(120, 120, 120, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(120, 120, 120, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(120, 120, 120, 0.75);
}

.cellNotHeiglighted {
  background-color: transparent !important;
}

.cellBorderHour {
  border-left: 1px solid rgb(120, 120, 120);
}

.cellBorderHalfHour {
  border-left: 1px solid #c3bebe;
}