<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Guest Invite</title>

</head>
<body style="flex-direction: column">
	<div id="tittle" style="height: 10%; background-color: darkgreen">
		<h1 style="color: white; text-align: center; padding-top: 1%;">
			Meeting for Good Event Invite 
		</h1>
	</div>
	<div id="text" style="padding-top: 3%; color: black; font-size: 2em; padding-left: 100px">
		<p> Hi <%= guestName %> </p>
		<p>Use this tool to let me know your availablility for <a href="<%= url%>"><%= eventName %></a>. </p>
		<p> All times will be automatically converted to your local timezone.</p>
	</div>
	<div id="footer" style="padding-top: 3%; color: black; font-size: 2em; padding-left: 100px"> Best, <br> Meeting for Good team. </div>
</body>

</html>
