.row {
  display: flex;
  clear: both;
}

.rowGrid {
  composes: row;
  min-height: 55px;
}

.column {
  display: flex;
  flex-direction: column;
}

.date-cell {
  padding: 5px;
  border: 1px solid #efefef;
  cursor: pointer;
  width: 75px;
  padding: 5px 0px 14px 5px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

.grid-hourBasic {
  font-size: 13px;
  width: 48px;
  height: 22px;
  padding: 0 0 0 3px;
  margin-bottom: -1px;
  user-select: none;
  -webkit-user-select: none;
}

.grid-hour {
 composes: grid-hourBasic;
  border-left: 1px solid #787878;
}

.timesTitle {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 72px;
}

.info {
  margin: 5px 0 0 0;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.actionButtonsWrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5px 0 0 0;
}

.cancelButton {
  margin-left: 15px;
}

.jumperCellWrapper {
  display: flex;
  flex-direction: row;
   border-left: 2px solid #787878;
}
  .jumperIcon {
    max-width: 17px;
    border-right: 1px solid #787878;
  }
  .rowWrapper {
    display: flex;
    flex-direction: row;
  }