.header {
   text-align: center;
}

.subHeader {
   text-align: center;
   font-size: 20px !important;
   line-height: 100% !important;
   margin-bottom: 10px !important;
   margin-top: 5px !important;
}

.Row {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  height: flex;
  justify-content: center;
}

.inviteEventText {
  margin: 20px 0 -15px 0 !important;
  text-align: center !important;
  font-size: 20px !important;
}

.copyAndEmailButton {
  margin: 10px 5px;
  background-color: #006400;
}

.inviteButton {
  margin-top: 15px;
}

.searchIcon {
  margin-bottom: 9px !important;
}

.copyButton:hover {
  background-color: #F5F5F5 !important;
}

.copyButton {
   background-color: 'white' !important;
}

.Divider {
  width: 100% !important;
  background-color: #BDBDBD !important;
  margin-top: 6px !important;
}

.inviteButton {
      margin: 15px 0 0 0 !important;
  }

.textUrl {
  background-color: #F5F5F5 !important;
  max-height: 40px !important;
  margin:0 !important;
}

.Snackbar {
    height: flex;
}
