.main {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}

.main img {
	max-height: 80vh;
	width: 50vw;
	margin: 10px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}

	.header h2 {
		color: #006400;
		font-weight: 500;
		font-size: 80px;
		padding: 2% 0 0 0;
	}

  .header .statistics {
    order: 0;
    border-right: 3px double #DADADA;
    width: 230px;
    margin: 20px;
    padding: 0px 10px;
    text-align: left;
    font-size: 12px;
    flex-grow: 0;
  }

	.header .title-and-button {
    order: 1;
		display: flex;
		flex-direction: column;
    flex-grow: 1;
	}

  .header .dummy-element {
    display: block;
    order: 2;
    width: 230px;
    margin: 10px;
  }

.loginButton {
	margin: 30px !important;
}

	.loginButton button {
		background-image: linear-gradient(#ffcc4d, #ffac33) !important;
		background-color: #ffac33 !important;
		text-transform: none !important;
		min-width: 500px !important;
		height: 50px !important;
	}

	.loginButton button div div span {
		font-size: 28px !important;
	}


.content {
	width: 100vw;
	height: auto;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 20px;
	display: block;
}

	.content .gifAvail {	
		width: 508px;
	}

	.content .timezones {
		width: 1000px;
	}

	.content .hr {
		width: 100px;
		background-color: black;
		height: 2px;
		margin-top: 40px;
		margin: 0 auto;
	}

footer {
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

	footer p {
		margin: 0;
		color: black;
		font-size: 20px;
	}

	footer a {
		color: #006400;
	}
	footer a:hover {
		text-decoration: underline;
	}

.divider {
	border-style: solid;
	width: 100%;
	border-width: 0.2px;
	border-color: lightgrey;
}

@media (min-width:1010px) and (max-width:1175px) {
	.main .header h2 {
		font-size: 60px !important;
	}

	.loginButton button {
		min-width: 200px !important;
	}
}

@media (min-width:930px) and (max-width:1010px) {
	.main .header h2 {
		font-size: 50px !important;
	}

	.loginButton button {
		min-width: 200px !important;
	}
}

@media (min-width:850px) and (max-width:930px) {
	.main .header h2 {
		font-size: 40px !important;
	}

	.loginButton button {
		min-width: 200px !important;
	}
}

@media (min-width:550px) and (max-width:850px) {
  .main img {
    width: 600px;
  }
	.main .header h2 {
		font-size: 50px !important;
	}

	.gif {
		width: 500px !important;
		height: 200px;
	}
  

	.timezones {
		width: 600px !important;
	}

  .header {
    flex-direction: column;
  }

  .header .statistics {
    order: 1;
    border-top: 3px double #DADADA;
    border-right: none;
}

  .header .title-and-button {
    order: 0;
  }

  .header .dummy-element {
    display: none;
  }
}

@media (max-width:550px) {
  .main img {
    width: 300px;
  }
		.header h2 {
			font-size: 36px;
		}

		.gif {
			width: 300px;
			height: 110px;
		}

    .gifAvail {
      width: 300px;
    }

	.content .timezones {
		width: 370px;
	}

	footer p {
		font-size: 15px;
	}

  .header {
    flex-direction: column;
  }

  .header .statistics {
    order: 1;
  }

  .header .title-and-button {
    order: 0;
  }

  .header .dummy-element {
    display: none;
  }

.loginButton {
	margin: 30px !important;
}

	.loginButton button {
		min-width: 300px !important;
	}

  .header .statistics {
    order: 1;
    border-top: 3px double #DADADA;
    border-right: none;
  }

}