.main {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}

.main img {
	max-height: 80vh;
	width: 50vw;
	margin: 10px;
}

.header {
	text-transform: uppercase;
	
}
.header img {
	margin-bottom: 4%;
}

.header h2 {
	color: #006400;
	font-weight: 500;
	text-transform: none;
	font-size: 80px;
	padding: 2% 0 2% 0;

}

.content {
	width: 100vw;
	height: auto;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 20px;
	display: block;
}

.gif {
	width: 508px !important;
  height: 240px;
}

.timezones {
	width: 1000px !important;
}

.hr {
  width: 100px !important;
  background-color: black;
  height: 2px;
  margin-top: 40px;
  margin: 0 auto;
}

footer {
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p {
	margin: 0;
	color: black;
	font-size: 20px;
}

footer a {
	color: #006400;
}
footer a:hover {
	text-decoration: underline;
}

.divider {
	border-style: solid;
	width: 100%;
	border-width: 0.2px;
	border-color: lightgrey;
}

@media (min-width:550px) and (max-width:850px) {
  .main img {
    width: 600px;
  }
	.header h2 {
		font-size: 60px !important;
	}

	.header h6 {
		font-size: 30px !important;
	}

	.gif {
		width: 500px !important;
		height: 200px;
	}

	.timezones {
		width: 600px !important;
	}
}

@media (max-width:550px) {
  .main img {
    width: 300px;
  }
	.header h2 {
		font-size: 46px !important;
	}

	.header h6 {
		font-size: 10px !important;
	}

	.gif {
		width: 300px !important;
		height: 110px;
	}

	.timezones {
		width: 370px !important;
	}
	footer p {
		font-size: 15px;
	}

}